body {
    background-color: #e9e9e9;
    font-family: Open Sans, sans-serif;
    font-size: 0.8rem;
}
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #444;
}

.header h3, .header label{
    display: inline-block;
}

#credits{
    background-color: white;
    border-style: solid;
    border-color: black;
    margin-left: 80%;
    padding-left: 10px;
    width: 90px;
}

#hoverText{
    visibility: hidden;
    font-size: 75%;
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-color: black;
    position: absolute;
    z-index: 1;
}

#credits:hover #hoverText{
    visibility: visible;
}

div{
    background-color: #cdcdcd;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

#box{
    padding-left: 20px;
}

.header{
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
    
}

.companyList{
    grid-column: 1 / span 1;
    grid-row: 2 / span 9;
    
}

ul{
    list-style-type: none;
    padding: 0%;
    display: inline-block;
}

#listOfCompanies{
    width: 100%;
    height: 900px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    border-style: solid;
    border-color: black;
}

#listOfCompanies li{
    border-bottom-style: solid;
    border-color: black;
}

.companyInfo{
    grid-column: 2 / span 3;
    grid-row: 2 / span 5;
}

.textInfo{
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.textInfo h3{
    margin-left: 10px;
}

#logo{
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 50px;
    width: 250px;
}

#map{
    grid-column: 2 / span 3;
    grid-row: 7 / span 4;
}

.stockData{
    grid-column: 5 / span 4;
    grid-row: 2 / span 7;
}

.stockData h3{
    display: inline-block;
}

#date, #open, #close, #low, #high, #volume{
    cursor: pointer;
}

#dataTable{
    display: block;
    border-style: solid;
    border-color: black;
    background-color: white;
    width: 100%;
    height: 850px;
    overflow: scroll;
    overflow-x: hidden;
}

#dataTable td + td{
    padding-left: 50px;
    padding-right: 20px;
}

#dataHeaders{
    padding: 0%;
}

#openCharts{
    margin-left: 65%;
}

.amm{
    grid-column: 5 / span 4;
    grid-row: 9 / span 2;
}

.amm table{
    border-style: solid;
    border-color: black;
    background-color: white;
    width: 100%;
}

.amm td + td{
    padding-left: 50px;
    padding-right: 20px;
}

.stockData p{
    display: inline-block;
}

.charts{
    grid-column: 1 / span 4;
    grid-row: 2 / span 8;
}

.cns{
    grid-column: 5 / span 3;
    grid-row: 2 / span 2;
}

#description{
    border-style: solid;
    border-color: black;
    background-color: white;
}

.cns h3, .cns #close{
    display: inline-block;
}

.cns #close{
    margin-left: 45%;
}

.financials{
    grid-column: 5 / span 3;
    grid-row: 4 / span 6;
}

.financials label + label{
    display: inline-block;
    padding-left: 11%;
}

#financialsInfo {
    border-style: solid;
    border-color: black;
    background-color: white;
}

#revenue, #earnings, #assets, #liabilities{
    padding-left: 7%;
}